<h1>Current Player: {{player}}</h1>

<button nbButton outline status="danger" (click)="newGame()"> Start new Game</button>

<!-- structural directive -> *ngIf -->
<h2 *ngIf="winner"><!-- when winner is present-->
    Player {{winner}} won the game!
</h2> 

<!-- *ngFor  -->
<!-- template variable = val  -->
<!-- template variable = i  -->
<!-- [value] ="val" --- pass value to child app square component; will be X or O -->
<main>
    <app-square 
    *ngFor="let val of squares;let i =index"
    [value] ="val"
    (click)="makeMove(i)">


    </app-square>
</main>










